h1 {
  text-align: center;
}

fieldset {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.user-input {
  margin-bottom: 30px;
}